@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .github {
    width: 40px;
    height: 40px;
  }

  .github:hover {
    transform: scale(1.1);
  }

  .youtube {
    width: 40px;
    height: 28.1px;
  }

  .youtube:hover {
    transform: scale(1.1);
  }

  .instagram {
    width: 40px;
    height: 40px;
  }

  .instagram:hover {
    transform: scale(1.1);
  }

  .twitter {
    width: 40px;
    height: 32.5px;
  }

  .twitter:hover {
    transform: scale(1.1);}

  .houses-intro {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .houses-intro:hover > .house {
    opacity: 0.8;
  }

  .houses-intro:hover > .house:hover {
    opacity: 1;
  }

  .house {
    width: 15%;
    position: relative;
    background-color: white;
    overflow: hidden;
  }

  .house p {
    position: absolute;
    bottom: -100%;
    text-align: center;
    color: rgb(255, 255, 253);
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    padding: 1rem;
    transition: bottom 1s ease-out;
  }

  .house:hover p {
    bottom: 0;
   }

  .line-login-before::before,
    .line-login-after::after {
    content: "";
    display: inline-block;
    height: 1px;
    width: 40px;
    background-color: lightgray;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .line-login-before::before {
    left: 0px;
  }

  .line-login-after::after {
    right: 0px;
  }

  .is-active {
    color: theme("colors.secondary");
  }
}
